template(name="gridAside")
  .well
    with game
      if canDeleteGame
        a.btn.btn-primary.delete-game(href="#") Delete Game
      else
        a.btn.btn-primary.delete-game.disabled(href="#") Delete Game
        p.help-block.small You can't delete your game while there are other players
      if canQuitGame
        a.btn.btn-primary.quit-game(href="#") Quit Game
    fieldset
      legend Current players
      ul
        each currentPlayers
          li #{username}
    fieldset
      legend Notifications