template(name="playerGrid")
  unless previewMode
    with game
      .pull-right Game launched by #{creator.name}
  if canModifyGrid
    with grid
      a.btn.btn-primary.pull-right(href="{{pathFor 'fillGrid'}}") Modify
  h1 #{grid.title}
  small Grid made by : #{grid.creator.name}
  +shoutOut
  #grid-gen
    .grid
      each contents
        .outer-square(class="found-{{found}}")
          .inner-square(id="{{position}}")
            p #{word}