template(name="playGame")
  +gameNotifications
  .row
    .col-sm-8
      +playerGrid
    .col-sm-4
      unless previewMode
        +gridAside



template(name="gameNotifications")
  with game
    if winner
      .row
        .alert.alert-info
          | And the winner iiiis... #{winner.username} !