template(name="playGame")
  .pull-right Game launched by #{gameCreator.username}
  if ownGame
    a.btn.btn-primary.pull-right(href="{{pathFor 'fillGrid'}}") Modify
  h1 #{grid.title}
  .row
    .col-md-8.col-md-offset-2
      #grid-gen
        .grid
          each contents
            .outer-square(class="found-{{found}}")
              .inner-square(id="{{position}}")
                p #{word}