template(name="playerGridHeader")
  if canModifyGrid
    .row
      .col-lg-6.col-md-8.float-none
        with grid
          a.btn.btn-primary.pull-right(href="{{pathFor 'fillGrid'}}") Modify
        h1 #{grid.title} 
  else
    .row
      .col-md-12  
        h1 #{grid.title}
          unless previewMode
            small  a game launched by #{game.creator.name}


template(name="playerGrid")
  #grid-gen
    .grid
      each contents
        .outer-square(class="found-{{found}}")
          .inner-square(id="{{position}}")
            p(id="{{position}}") #{word}