template(name="playGame")
  +gameNotifications
  .row
    .col-md-12
      +playerGridHeader
    .col-md-12
      +shoutOut
  .row
    .col-md-8
      +playerGrid
    .col-md-4
      unless previewMode
        +gridAside


template(name="gameNotifications")
  with game
    if winner
      .row
        .alert.alert-info
          | And the winner iiiis... #{winner.username} !

