template(name="fillGrid")
  +gridCreationBreadcrumb
  h1 Grid Content
  h2 And finally, fill your grid
  p What would a bingo game be without its grid filled with homemade content ? We need you provide 24 pieces of content before your bingo is ready to be played.
  form.form-inline(role="form")
    .form-group
      input#title.form-control(name="word" type="text" placeholder="The content of one of the tile is ...")
    .form-group
      input.btn.btn-primary(type="submit" value="Ok !")
  if ready
    if gameIsActive
      a.launch-game.btn.btn-primary.pull-right(href="#") Resume game
    else
      a.preview-game.btn.btn-primary.pull-right(href="#") Preview
      +launchGameBtn


  .words-list
    +wordsList

template(name="wordsList")
  ul.list-inline
    each words
      li
        span.label.label-info
          span #{.}
          a.delete.btn.btn-info.btn-xs(href="#") X
