<template name="layout">
  <body>
    <container>
      <header>
          <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-grp">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'playerIntro'}}">Bullshit Bingo</a>
              </div>

              <div class="collapse navbar-collapse" id="collapse-grp">
                <ul class="nav navbar-nav navbar-right">
                   {{#if currentUser}}
                      {{ loginButtons }}
                    {{/if}}
                </ul>
              </div>
          </div>
        </div>
      </header>
      <div id="main" class="container">
        {{> errors}}
        {{yield}}
      </div>
    </container>
  </body>
</template>
