<template name="fillBingo">
    <span class="label label-info pull-right">Bingo creation - step 2/2</span>
    <h1> And finally <br>
    Fill your grid</h1>
    <p>what would a bingo game be without its grid filled with homemade content ? We need you provide 24 pieces of content before your bingo is ready to be played.</p>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input name="word" type="text" class="form-control" placeholder="The content of one of the tile is ...">
        </div>
        <div class="form-group">
            <input type="submit" value="Ok !" class="btn btn-primary"/>
        </div>
    </form>
    {{#if ready}}
    <a href="{{pathFor 'playBingo'}}" class="play-bingo btn btn-primary pull-right">Let's play bingo ! </a>
    {{/if}}
    <div class="words-list">
        {{>wordsList}}
    </div>
</template>

<template name="wordsList">
    <ul class="list-inline">
     {{#each words}}
     <li>
        <span class="label label-info">{{.}} <a href="#" class="delete btn btn-danger btn-xs"> X </a></span>
    </li>
    {{/each}}
</ul>
</template>
