    <template name="playerIntro">
        <h1> Hi ! So, you want to play bingo ?<h1>
            <h2> What's your name, sweetie ? </h2>
            <form>
                <div class="control-group">
                    <div class="controls">
                        <input name="name" type="text" class="input-xxlarge" placeholder="Hello, my name is …">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Ok !" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </template>
