template(name="gridThumbnail")
  li.col-md-6
    .grid-thumbnail-container
      .grid-thumbnail-inner
        h4= title
        p= description
        .row
          .col-md-12
            each tags
              span.label.label-info= this
        ul.games-creator-list(id="{{_id}}")
          each games
            +gridGamesList
      .grid-thumbnail-btn
        a.btn.btn-primary.join-game-btn(href="#") Current games
          span.badge= games.count
        +launchGameBtn


template(name="gridGamesList")
  li
    .game-wrapper
      a.btn.btn-info.join-game(href="#")
        = creator.name
        span.badge
          = players.length
          span.glyphicon.glyphicon-user
      .join-game-actions
        a.btn.btn-sm
          if canResumeGame
            | Resume
          else
            | Join !
