template(name="gridThumbnail")
  if positionIsOdd
    .clearfix
  li.col-md-6.col-sm-6
    .grid-thumbnail-container
      .grid-thumbnail-inner
        h4
          if canModifyGrid
            a.link-config.icon-config.pull-right(href="{{pathFor 'updateGrid'}}" title="Let's change my bingo !")
              span.glyphicon.glyphicon-cog
            a.link-config(href="{{pathFor 'updateGrid'}}" title="I want to modify my bingo !") #{title}
          else
            = title
        //- h4
        p= description
        .row
          .col-md-12
            each tags
              span.tag-label= this
        ul.games-creator-list(id="{{_id}}")
          each games
            +gridGamesList
      if ready
        .grid-thumbnail-btn
          a.btn.btn-primary.join-game-btn(href="#") Current games
            span.badge= games.count
          +launchGameBtn


template(name="gridGamesList")
  li
    .game-wrapper
      a.btn.btn-info.join-game(href="#")
        = creator.name
        span.badge
          = players.length
          span.glyphicon.glyphicon-user
      .join-game-actions
        a.btn.btn-sm
          if canResumeGame
            | Resume
          else
            | Join !
