template(name="home")
  .row
    .col-md-8.col-md-offset-2
      h1 Fancy a sweet bingo party ?
      p.teaser
        | Everyone liiiiikes bingo. Here, you can create your own Bingo grid with the content you want,
        | or play to a Bingo game created by someone else.
      p.text-center
        a.play-bingo.btn.btn-primary.btn-lg(href="{{#if currentUser}}{{pathFor 'createGrid'}}{{else}}{{pathFor 'authenticate'}}{{/if}}")
          | Create a bingo game
  +latestGridsList

template(name="latestGridsList")
  .row
    .col-md-8.col-md-offset-2
      if moreGrids
        a.btn.btn-ghost.pull-right.pull-down-15(href="{{pathFor 'allBingos'}}", title="I want to see all bingos !") Show me more !
      h3 Latest Bingos
      ul.row.grid-ul
        each readyGrids
          +gridThumbnail
        else
          li
            | No bingos for now, sorry !
