template(name="fillGrid")
  .row
    .col-sm-12
      +gridCreationBreadcrumb
      h1 Grid Content
      p.teaser.teaser-small What would a bingo game be without its grid filled with homemade content ? We need you provide 24 pieces of content before your bingo is ready to be played.
  .row.input-row
    .col-xs-6
      form.form-inline.fill-grid-form(role="form")
        .form-group
          input#title.form-control(name="word" type="text" placeholder="Your best content")
        .form-group
          input.btn.btn-primary(type="submit" value="Ok !")
        .form-group
          span.words-counter #{words.length}/#{nbWordsRequired} contents
    if ready
      .col-xs-6
        .play-game-btns.pull-right
          if gameIsActive
            a.launch-game.btn.btn-primary.pull-right(href="#") Resume game
          else
            a.preview-game.btn.btn-primary.pull-right(href="#") Preview
            +launchGameBtn


  .row
    .col-sm-12.words-list
      +wordsList

template(name="wordsList")
  ul.list-inline
    each words
      li
        span.word-label #{.}
        a.delete-word.btn.btn-info.btn-xs(href="#") X
