<template name="playBingo">
<h1> Time to play bingo !</h1>
{{#if ownGame}}
  <a href="{{pathFor 'addWords'}}"class="add-words btn btn-primary pull-right">Modifier</a>
  {{/if}}
<h2> Title : {{title}}</h2>

  <div class="row">
    <div class="span12">
      <div id="grid-gen">
        <div class="grid">
         {{#each words}}
          <div class="outer-square" >
            <div class="inner-square" id="{{_id}}">
              <p> {{word}} </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>