<template name="setGameTitle">
    <h1> Nice to meet you, {{name}} !<h1>
    <h2> Let's create a bingo grid !</h2>

    <form>
                <div class="control-group">
                    <div class="controls">
                        <input name="title" type="text" class="input-xxlarge" placeholder="First of all, I give my bingo  game a sweet name">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Ok !" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
</template>
