template(name="createGrid")
  .row-fluid
    .col-sm-12
      +gridCreationBreadcrumb
      h1 Now let's describe your grid.
      p.teaser.teaser-small It's always good to let people know a bit more about the bingo you propose them. A title is the minimum !
  form(role="form")
    .row-fluid
      .col-sm-7
        .form-group
          label(for="title") Title
          input#title.form-control(name="title" type="text" placeholder="What's the title of your new bingo game ?")
        .form-group
          label(for="description") Description
          textarea#description.form-control(name="description" rows="4" cols="50" placeholder="Sweet description")
          p.help-block.small
            em Here comes the description of your bingo, to incitate people playing it.
        .form-group
          label(for="tags") Tags
          input#tags.form-control(name="tags" type="text" placeholder="Tags, separated with commas")
      .col-sm-5
        +configGrid
    .row-fluid
      .col-sm-5.col-sm-offset-7
        input.btn.btn-primary.pull-left(type="submit" value="Create")