template(name="information")
  .information
    h1.text-center Information ?
    .row
      .col-md-8.col-md-offset-2.text-center.teasing
        p
          em
            | Haven't you ever get bored during a professional meeting or while watching a dumb TV show ?
            strong
              |Thanks to bullshit bingo, you'll never feel boredom anymore !
    .row
      .col-md-12.text-center
        h2 What's a bullshit-bingo ?
    br
    .row.thumb-row
      .col-md-4
        .info-thumb
          fieldset
            legend  A classical bingo...
            p
            | The principle of bullshit bingo
            strong
              | mimics classical bingo,
            | whose rules are the following:
            ul(style="padding-left: 0;")
              li - Every player has a grid with random numbers,
              li - When one of the number of your grid is drawn at random, you check it.
              li - When you have a full line, column or diagonal, you win !
      .col-md-4
        .info-thumb
          fieldset
            legend ...filled with your content !
            p
            | Bullshit bingo works the same way, but you can
            strong
              | decide what is the content of your bingo grid.
            p
            | With bingo bullshit, you don't play with meaningless numbers but with your own sentences and phrases and mispellings.
            | How great !
      .col-md-4
        .info-thumb
          fieldset
            legend But... what's the point ?
            p Good question, indeed.
            | Imagine you're in a commercial meeting with other colleagues, and you know there'll be an
            strong
              | endless stream of gabblings, buzzwords and bullshits.
            | Create a bingo grid with expressions such as
            em
              | "incentivize", "disintermediate"
            | or
            em
              | "synergy"
            |, and start playing gently and discretly.
            p No more boredom, we told you so.
    .row
      .col-md-12.text-center
        h2 How to play
    br
    .row.thumb-row
      .col-md-4
        .info-thumb
          fieldset
            legend Create bingo grids
            p
            | To begin with, create an account and start making your first bingo grid.
            | A title, a description and a few tags to help people get what your bingo's about...
            p
            | Time to fill your grid ! Use a mix of knowledge and imagination to invent
            strong
              | funny and stimulating contents.
            | Or even
            strong
              |boring ones
            |. Actually, there are no rules.
      .col-md-4
        .info-thumb
          fieldset
            legend Join or launch a game
            p
            | Then,
            strong
              |the choice is yours :
            | you can start to play with your own grid directly,
            | launch a game on a bingo grid created by a total stranger
            | and invite people to compete with you,
            | or join a party in progress.
            p
            | And may the best (or sneakiest) player win !
      .col-md-4
        .info-thumb
          fieldset
            legend Play and interact with people
            p As soon as you hear an expression or see an element featured on your grid, check it and cross your fingers to be the first one to get a full line.
            p
            | You can also
            strong
              |take news of or distract your opponents by shouting at them.
            | Anyhing you write in the shout box will appear instantly on every player's screen.
    br
    .well.col-md-8.col-md-offset-2
      h2 Any remark or problem ?
      p You've noticed a bug that ruins your bingo experience ? You'd like to suggest an enhancement that would bring about a revolution in bingo's world ?
      p
        strong Please feel free to create an issue on
          a(href="https://github.com/clairezed/bingo-meteor/issues") github.
      p
      small
        em.help-block Sorry for my lousy cheesy english, I'm a french girl... Then, feel free to create issues to correct my english too !
