template(name="information")
  h1 Info page
  fieldset
    legend What's a bullshit-bingo ?
    small
      em.help-block It's not all written yet, but soon I'll tell you everything. I promise.
  fieldset
    legend Any remark or any problem ?
    p You've noticed a bug that ruins your bingo experience ?
    p You'd like to suggest an enhancement that would bring about a revolution in bingo's world ?
    p
      strong Please feel free to create an issue on
        a(href="https://github.com/clairezed/bingo-meteor/issues") github.
