template(name="information")
  h1 Here's where you'll learn more about bullsit bingo
  h2 What's a bullshit-bingo ?
  p Haven't you ever get bored during a professional meeting or while watching a dumb TV show ?
  p Thanks to bullshit bingo, you'll never feel boredom anymore !
  br
  fieldset
    legend  A classical bingo...
    p
    | The principal of bullshit bingo mimics classical bingo : you have a grid with random numbers,
    | and when one of the number of your grid is tiré au hasard, you check it.
    p When you have a full line, column or diagonal, you win !
  fieldset
    legend ... but with your own content in the grid
    p
    | Bullshit bingo works the same way, but you define what is the content of your bingo grid.
    p
    | Imagine you're in a commercial meeting with other colleagues. Your executive is used o talk bullshits
  h2 How to play
  p blablabla
  h2 Any remark or any problem ?
  p You've noticed a bug that ruins your bingo experience ?
  p You'd like to suggest an enhancement that would bring about a revolution in bingo's world ?
  p
    strong Please feel free to create an issue on
      a(href="https://github.com/clairezed/bingo-meteor/issues") github.
  p
  small
    em.help-block Sorry for my lousy cheesy english, I'm a french girl... Then, feel free to create issues to correct my english too !
