$white: #fff;
$body_color: #f4f1de;
$medium_brown: #d0cbac;
// $dark_brown: #b0a97d;
// $text_brown_dark : #9b956f;

$primary_color: #f83f09;
// $primary_color_dark: #e23705;
// $primary_color_light: #fb764f

$info_color: #fa6134;

$default_color: #33769A;
// $default_color_dark: #0e6B9D;

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  transform: $transformation;
}

@mixin transition($time, $opacity) {
  -webkit-transition: -webkit-transform $time, opacity $opacity;
  -moz-transition: -moz-transform $time, opacity $opacity;
  transition: transform $time, opacity $opacity;
}


body {
  background-color: lighten($medium_brown, 20%);
  color: darken($medium_brown, 50%);
}

#main.container-fluid {
  max-width: 80%;
}

ul{
  list-style: none;
}


h1, .teaser, h2, h3, h4, .navbar-brand {
  font-family: 'Montserrat', Arial, sans-serif; font-weight: 400;
}

h1, h2, h3, h4, p, legend, label{
  color: darken($medium_brown, 45%);
}

.pull-down-15 {
  margin-top: 15px;
}

.navbar-default{
  background-color: transparent;
  border-color:transparent;
  .navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: darken($medium_brown, 15%);
  }
  .navbar-nav > li > a {
    color: darken($medium_brown, 15%);
    padding: 10px 15px 10px 15px;
    margin: 5px 5px;
    border-color: darken($medium_brown, 10%);
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:$white;
    background-color: $primary_color;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px;
    border-color: $white;
  }
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color:$white;
    background-color: $primary_color;
    border-color: $white;
  }
}

.open > .dropdown-toggle.btn-primary{
  background-color: darken($primary_color, 7%);
  border-color:darken($primary_color, 10%);
}

.btn{
  border-radius: 0;
  a{
    color: $white;
    text-decoration: none;
    display: block;
  }
}

.btn-primary{
  background-color: $primary_color;
  border-color: darken($primary_color, 5%);
  &:hover, &:focus, &:active, &.active{
    background-color: darken($primary_color, 5%);
    border-color: darken($primary_color, 7%);
  }
  &.disabled{
    background-color: lighten($primary_color, 10%);
    border-color: $primary_color;
  }
}

.btn-info{
  background-color: $info_color;
  border-color:darken($info_color, 7%);
  &:hover, &:active{
    background-color: darken($info_color, 7%);
    border-color: darken($info_color, 10%);
  }
}

.btn-default{
  background-color: $default_color;
  border-color: darken($default_color, 7%);
  color: $white;
  &:hover, &:active, &.active{
    background-color: darken($default_color, 7%);
    border-color:darken($default_color, 10%);
    color: $white;
  }
}

.btn-ghost {
  color: $white;
  background-color: transparent;
  border-color: $white;
  font-size: 14px;
  &:hover, &:focus {
    color: $white;
    background-color: $primary_color;
  }
}


.well {
  background-color: $medium_brown;
  border-radius: 0;
  border: 1px solid darken($medium_brown, 15%);
  color: $white;
  legend {
    border-bottom: 1px solid darken($medium_brown, 15%);
    color: $white;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  p, h2, h3, .help-block {
    color: $white;
  }
  h3 {
    margin-top: 0px;
  }
}



.teaser {
  font-style: italic;
  color: darken($medium_brown, 25%);
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 25px;
  text-align: center;
  &.teaser-small {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: left;
  }
}


/* Help popover */
.show-help{
  a.show-help-link {
    color: $default_color;
  }
  .popover-title{
    background-color: $default_color;
    border-bottom:1px solid darken($default_color, 7%);
  }

}



/*====== GRIDS THUMBNAIL ========================================================*/
ul.grid-ul {
  padding-left: 0;
}
.grid-thumbnail-container{
  background-color: $white;
  margin: 5% 0;
  .grid-thumbnail-btn{
    font-size: 0;
    .btn {
      width: 50%;
      display: inline-block;
    }
  }
  .grid-thumbnail-inner{
    padding: 5%;
    position: relative;
    .icon-config {
      font-size: 20px;
    }
    .link-config {
      color: $primary_color;
      &:hover, &:focus {
        color: darken($primary_color, 7%);
        text-decoration: none;
      }
    }
    .games-creator-list {
      padding: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      li{
        position: relative;
        .game-wrapper{
          position: relative;
          width: 100%;
          overflow: hidden;
          .join-game-actions{
            background-color: #f84c19;
            width: 100px;
            height: 100%;
            padding: 5px;
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            @include transform(translateX(100%));
            @include backface-visibility(hidden);
            @include transition(0.4s, 0.1s);
            a {
              width: 100%;
              color: $white;
              font-weight: bold;
              border-color: $white;
              padding: 3px 7px;
            }
          }
          &:hover .join-game-actions{
            opacity:1;
             @include transform(translateX(0px));
             @include transition(0.4s, 0.1s);
          }

          .join-game {
            width: 100%;
            position: relative;
            -webkit-transition: -webkit-transform 0.4s;
            -moz-transition: -moz-transform 0.4s;
            transition: transform 0.4s
          }
          &:hover .join-game{
            position: relative;
            display: inline-block;
            width: 100%;
            -webkit-transform: translateX(-50px);
            -moz-transform: translateX(-50px);
            -ms-transform: translateX(-50px);
          }
        }
      }
    }
  }
}


.tag-label {
  display: inline;
  padding: .2em .6em .3em;
  margin: 0px 3px 3px 0px;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  background-color: $medium_brown;
  color: $white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.tag-label-reversed {
  background-color: $white;
  color: $medium_brown;
}

/*===== FILL GRID ==============================================================*/
.input-row {
  margin-top: 10px;
  margin-bottom: 25px;
  .fill-grid-form {
    margin-bottom: 10px;
    .words-counter{
      margin-left: 10px;
      color: darken($medium_brown, 5%);
      font-weight: bold;
    }
  }
  .play-game-btns {
    display: inline-block;
    .preview-game {
      margin-left: 10px;
    }
  }
}


.words-list ul{
  padding-left: 0;
  margin-left: 0;
  li{
    margin-right: 2%;
    margin-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: $medium_brown;
    .word-label {
      background-color: $medium_brown;
      padding: 2px 12px;
      font-size: 12px;
      line-height: 1.5;
      margin: 0;
      position: relative;
      float: left;
    }
    a.delete-word {
      padding: 2px 5px;
      position: relative;
      float: left;
      border:none;
    }
  }
}
// .words-list span.label{
//   font-size: 100%;
//   margin-right: 1%;
//   font-weight: normal;
// }


/*===== PLAY BINGO =====================================================================*/
#grid-gen{
  width: 100%;
  line-height: 0;
  margin-bottom: 20px;
  .grid{
    width: 100%;
    .outer-square{
      display: inline-block;
      width: 20%;
      padding-bottom: 20%;
      position: relative;
      background-color: #ccc;
      cursor: pointer;
      border: 1px solid #ddd;
      &:hover{
        background-color: #ddd;
      }
      &.found-true{
        background-color: #ff0000 ;
        &:hover{
          background-color: #ff3700 ;
        }
      }
      .inner-square{
        position: absolute;
        left: 5%;
        right: 5%;
        top: 5%;
        bottom: 5%;
        line-height: 1.42857143;
      }
    }
  }
}
.grid-aside-content {
  padding-left: 10px;
  p {
    margin-bottom: 0;
  }
}


/* SHOUTS */

.shout-form {
  background-color: #b0a97d;
  color: $white;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .form-control{
    width: 85%;
    margin-left:10px;
    border-color: $medium_brown;
    display: inline-block;
  }
}

@media(min-width: 992px) {
  .shout-form .form-control{
    width: 92%;
  }
}
@media(max-width: 767px) {
  .shout-form .form-control{
    width: 80%;
  }
}

.shout-display-box{
  background-color: $default_color;
  color: $white;
  padding: 8px 16px;
  margin-bottom: 15px;
  border-radius: 4px;
}

/*===== INFORMATION PAGE ========================================== */

.information {
  h1 {
  margin-bottom: 30px;
  margin-top: 25px;
  }
  .thumb-row {
    margin-top: 0px;
    margin-bottom: 35px;
    .info-thumb {
      border: 5px solid $white;
      padding: 20px;
      height: 100%;
      margin-bottom: 15px;
    }
  }
}


