/* necessary for bootstrap3 navbar-fixed-top */
body{padding-top: 70px; }

ul{
    list-style: none;
}

.btn{
    border-radius: 0;
}

#main.container-fluid {
    max-width: 80%;
}

/* GRIDS THUMBNAIL */
.btn a{
    color: #fff;
    text-decoration: none;
}
.animated-btn a:not(.join-game) {
      /*visibility: hidden;*/
}
.animated-btn .btn{
    width: 160px;
}
.animated-btn ul {
    padding: 0;
}

/* PLAYER GAMES */
.player-games .bingo-title{
    font-size: 16px;
    margin-right: 1%;
    font-weight: bold;
}

/* ADD WORDS */
.words-list{
    margin-top: 2%;
}
    .words-list ul{
        padding-left: 0;
    }
        .words-list li{
            margin-left: 2%;
            margin-top: 1%;
        }
            .words-list span.label{
                font-size: 100%;
                margin-right: 1%;
                font-weight: normal;
            }


/* PLAY BINGO */
#grid-gen{
	width: 100%;
}
	#grid-gen .grid{
		width: 100%;
	}
	#grid-gen .grid .outer-square{
		display: inline-block;
		width: 19%;
		padding-bottom: 19%;
		position: relative;
		background-color: #ccc;
		cursor: pointer;
	}
      #grid-gen .grid .outer-square:hover{
        background-color: #ddd;
      }
            #grid-gen .grid .outer-square.found-true{
                    background-color: #ff0000 ;
            }
            #grid-gen .grid .outer-square.found-true:hover{
                    background-color: #ff3700 ;
            }

		#grid-gen .grid .outer-square .inner-square{
			position: absolute;
		   	left: 5%;
		   	right: 5%;
		   	top: 5%;
		   	bottom: 5%;
		}
.play-bingo-info{
  padding-top: 3%;
}
