<template name="authenticate">
    {{> loginIntro}}
    <div class="row">
        <div class="col-md-6">
            <div class="center-block well">
                <p> <strong>You don't have an account yet ? Please sign up ! </strong></p><p>We only require a username and a password so that you can find your Bingos back </p>
                <a href="{{pathFor 'signup'}}" class="play-bingo btn btn-primary"> Sign up </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="center-block well">
                <p> <strong>You already have an account ? </strong></p><p>Just log in to create new Bingos or find you're Bingos back ! </p>
                <a href="{{pathFor 'login'}}" class="play-bingo btn btn-primary"> Log in </a>
            </div>
        </div>
    </div>
</template>

<template name="loginIntro">
    <h1 class="text-center"> Hi ! So, you want to play bingo ?</h1>
    <p class="text-center"> In order to create or modify you're Bingo games, you have to tell us who you are ! </p>
    <br>
</template>
