template(name="authenticate")
  +loginIntro
  .row
    .col-lg-3.col-lg-offset-3.col-sm-4.col-sm-offset-2
      .center-block.well
        p
          strong You don't have an account yet ?
        p You only need a username and a password !
        a.play-bingo.btn.btn-primary(href="{{pathFor 'signup'}}") Sign up
    .col-lg-3.col-sm-4
      .center-block.well
        p
          strong You already have an account ?
        p Just log in to create new Bingos or find your Bingos back !
        a.play-bingo.btn.btn-primary(href="{{pathFor 'login'}}") Log in

template(name="loginIntro")
  h1.text-center Hi ! So, you want to play bingo ?
  p.teaser In order to play or make bingos, you have to tell us who you are !