template(name="login")
  +loginIntro
  +loginForm

template(name="loginForm")
  form#login-form.form-horizontal(role="form")
    .form-group
      label.col-sm-2.control-label(for="login-username") Username
      .col-sm-10
        input#login-username.form-control(type="text" placeholder="What's your name, sweetie ?")
    .form-group
      label.col-sm-2.control-label(for="login-password") Password
      .col-sm-10
        input#login-password.form-control(type="password" placeholder="Password")
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type="submit") Log in