<template name="login">
    {{> loginIntro}}
    {{> loginForm}}
</template>

<template name="loginForm">
    <form id="login-form" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="login-username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="login-username" placeholder="What's your name, sweetie ?">
            </div>
        </div>
        <div class="form-group">
            <label for="login-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="login-password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </div>
    </form>
</template>




