template(name="userspace")
  h1 Hello #{currentUser.username} !
  h2 Here you can find all your Bingo Games.
  .player-games
    ul
      each grids
        +gridThumbnail
      else
        li
          p You don't have any bingo yet, sweetie !
          p.text-center
            a.play-bingo.btn.btn-primary(href="{{pathFor 'createGrid'}}")
              |Let's create one now !

template(name="userspaceGridThumbnail")
  li.col-md-4
    .grid-thumbnail-container
      .grid-thumbnail-inner
        h4
          a.bingo-title(href="{{pathFor 'fillGrid'}}") #{title}
        .row
          .col-md-12
            each tags
              span.label.label-info= this
        ul.games-creator-list(id="{{_id}}")
          each games
            +gridGamesList
      .grid-thumbnail-btn
        a.btn.btn-primary.join-game-btn(href="#") Current games
          span.badge= games.count
        +launchGameBtn