<template name="userspace">
  <h1>Hello {{currentUser.username}} ! <br>
   Here you can find all your Bingo Games. </h1>
   {{#if has_games}}
   <div class="well player-games">
     <ul>
       {{#each games}}
       <li>
        <a href="{{pathFor 'fillBingo'}}" class="bingo-title">{{title}}</a>
        <a href="#" class="delete-game btn btn-danger btn-xs"> X </a>
      </li>

      {{/each}}
    </ul>
  </div>
  {{else}}
  <br>
  <p>
    You don't have any bingo yet, sweetie !
  </p>
  <p class="text-center">
    <a href="{{pathFor 'createBingo'}}" class="play-bingo btn btn-primary">Let's create one now !</a>
  </p>

  {{/if}}

</template>
