template(name="layout")
  header
    .navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#collapse-grp")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="{{pathFor 'home'}}") Bullshit Bingo
        #collapse-grp.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.btn(href="{{#if currentUser}}{{pathFor 'createGrid'}}{{else}}{{pathFor 'authenticate'}}{{/if}}") Create Bingo
            li
              a.btn(href="{{pathFor 'allBingos'}}") All bingos
            li
              a.btn(href="{{pathFor 'information'}}") Info
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown")
                span.glyphicon.glyphicon-user
                  | #{currentUser.username}
                b.caret
              ul.dropdown-menu
                if currentUser
                  li
                    a(href="{{pathFor 'userspace'}}") My bingos
                  li
                    a.disconnect(href="#") Disconnect
                else
                  li
                    a(href="{{pathFor 'login'}}") Log in
                  li
                    a(href="{{pathFor 'signup'}}") Sign up
  #main.container-fluid
    +errors
    +yield