<template name="layout">
  <body>
    <container>
      <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-grp">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{pathFor 'home'}}">Bullshit Bingo</a>
            </div>

            <div class="collapse navbar-collapse" id="collapse-grp">
              <ul class="nav navbar-nav">
                <li><a href="#">Create Bingo</a></li>
                <li><a href="#">All Bingos</a></li>
                <li><a href="#">Info</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {{#if currentUser}}
                    <li><a href="{{pathFor 'userspace'}}">My bingos</a></li>
                    <li><a href="#">Disconnect</a></li>
                    {{else}}
                    <li><a href="login">Log in</a></li>
                    <li><a href="signup">Sign up</a></li>
                    {{/if}}
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {{> loginButtons }}
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div id="main" class="container">
        {{> errors}}
        {{> yield}}
      </div>
    </container>
  </body>
</template>
