template(name="layout")
  header
    .navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#collapse-grp")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="{{pathFor 'home'}}") Bullshit Bingo
        #collapse-grp.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class="{{ activeIfTemplateIs 'createGrid' }}")
              a.btn(href="{{#if currentUser}}{{pathFor 'createGrid'}}{{else}}{{pathFor 'authenticate'}}{{/if}}"
                title="I want to create a bingo grid !") Create Bingo
            li(class="{{ activeIfTemplateIs 'allBingos' }}")
              a.btn(href="{{pathFor 'allBingos'}}" title="I want to see all these marvelous bingos !") All bingos
            li(class="{{ activeIfTemplateIs 'information' }}")
              a.btn(href="{{pathFor 'information'}}" title="I want to know what the heck is this thing !") Info
          ul.nav.navbar-nav.navbar-right
            li.dropdown(class="{{ activeIfTemplateIs 'userspace' }}")
              a.dropdown-toggle(href="#" data-toggle="dropdown")
                span.glyphicon.glyphicon-home
                | #{currentUser.username}
                b.caret
              ul.dropdown-menu
                if currentUser
                  li
                    a(href="{{pathFor 'userspace'}}" title="Home, sweet home") My bingos
                  li
                    a.disconnect(href="#") Disconnect
                else
                  li
                    a(href="{{pathFor 'login'}}") Log in
                  li
                    a(href="{{pathFor 'signup'}}") Sign up
  #main.container-fluid
    +messages
    +yield

  footer
    hr
    .footer-container
      p
        |Website realised using
        a(href="https://www.meteor.com/") meteor.js
        | just for da fun.
      p
        | Any remark, bug or suggestion can be sent on
        a(href="https://github.com/clairezed/bingo-meteor/issues") github
        | or by email to
        a(href="mailto:clairezuliani@gmail.com") clairezuliani at gmail dot com
        |.
