template(name="gridCreationBreadcrumb")
  .btn-group.pull-right
    a.btn.btn-info(href="{{#if canUpdatePresentation}}{{pathFor 'updateGrid'}}{{else}}{{pathFor 'createGrid'}}{{/if}}") Description
    a.btn.btn-info(href="{{pathFor 'fillGrid'}}", class="{{#unless canFillGrid}} disabled {{/unless}}") Fill Grid

