template(name="gridCreationBreadcrumb")
  .btn-group.pull-right
    a.btn.btn-primary(href="{{#if canUpdatePresentation}}{{pathFor 'updateGrid'}}{{else}}{{pathFor 'createGrid'}}{{/if}}" 
      class="{{ activeIfTemplateIs 'updateGrid' }}") Description
    a.btn.btn-primary(href="{{pathFor 'fillGrid'}}", class="{{#unless canFillGrid}} disabled {{/unless}}"
      class="{{ activeIfTemplateIs 'fillGrid' }}") Fill Grid

