template(name="launchGameBtn")
    if canLaunchGame
      a.launch-game.btn.btn-default(href="#", title="I want to launch a new game !")
        | Launch  !
    else
      a.launch-game.btn.btn-default(href="#", title="Let's resume my game in progress !")
        | Resume