<template name="addWords">
    <h1>{{title}} is a nice title !</h1>
    <h2> Let's fill your bingo grid ! </h2>

    <form>
        <div class="control-group">
            <div class="controls">
                <input name="word" type="text" class="input-xxlarge" placeholder="The content of one of the tile is ...">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Ok !" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    {{#if enough_words}}
        <a href="#" class="play-bingo btn btn-primary pull-right">Let's play bingo ! </a>
    {{/if}}
      <div class="words">
        {{#each words}}
            <p><span class="label label-info">{{word}}</span><a href="#" class="delete btn btn-danger btn-small"> X </a></p>
        {{/each}}
      </div>
</template>
