<template name="addWords">
    <h1> {{title}} is a nice title !</h1>
    <h2> Let's fill your bingo grid ! </h2>

    <form class="form-inline" role="form">
        <div class="form-group">
            <input name="word" type="text" class="form-control" placeholder="The content of one of the tile is ...">
        </div>
        <div class="form-group">
            <input type="submit" value="Ok !" class="btn btn-primary"/>
        </div>
    </form>
    {{#if ready}}
    <a href="{{pathFor 'playBingo'}}" class="play-bingo btn btn-primary pull-right">Let's play bingo ! </a>
    {{/if}}
    <div class="words-list">
        <ul>
           {{#each words}}
           <li>
            <span class="label label-info">{{.}}</span><a href="#" class="delete btn btn-danger btn-xs"> X </a>
        </li>
        {{/each}}
    </ul>
</div>
</template>
